#navup {
  background-color: #222222;
}
#navup .navbar-nav li .firsta {
  padding: 0px 16px !important;
  color: #c3c3c3;
  font-size: 14px !important;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
#navup .navbar-nav li .firsta :hover {
  color: gray;
}
#navup .navbarup {
  background-color: #222222 !important;
  height: 64px !important;
}
#navup .navbarup .dropdown-firstmenu li {
  width: 221px;
  height: 48px;
  padding: 10px 16px;
  border: 0.5px dashed rgb(245, 241, 241);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
#navup .navbarup .dropdown-firstmenu li span {
  background-color: #ef6c00;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 400;
}
#navup .navbarup .dropdown img {
  width: 18px;
  height: 14px;
}
#navup .navbarup .dropdown-secondmenu {
  margin-left: 30px !important;
}
#navup .navbarup .dropdown-secondmenu li {
  width: 221px;
  height: 48px;
  padding: 10px 16px;
  border: 0.5px dashed rgb(245, 241, 241);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
#navup .navbarup .dropdown-secondmenu li img {
  width: 18px;
  height: 14px;
}
#navup .navbarup .dropdown-secondmenu li span {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
#navup .navbarup .likelogin {
  margin-left: 700px;
  cursor: pointer;
}
#navup .navbarup .likelogin a {
  text-decoration: none;
  width: 100px;
  height: 50px;
}
#navup .navbarup .likelogin a :hover {
  color: gray;
}
#navup .navbarup .likelogin a i {
  color: #c3c3c3;
  font-size: 20px;
  margin-top: 1px;
  margin-left: 15px;
}
#navup .navbarup .likelogin a span {
  font-size: 13px;
  color: #c3c3c3;
  font-weight: 600;
  margin-left: 8px;
}

#navdown {
  background-color: #ef6c00;
  height: 90px;
  padding-top: 5px;
}
#navdown .navdowninfo {
  display: flex;
}
#navdown .navdowninfo img {
  margin-top: 20px;
  margin-left: 16px;
  width: 140px;
  height: 40px;
}
#navdown .navdowninfo .searching {
  margin-top: 20px;
  position: relative;
  margin-left: 100px;
}
#navdown .navdowninfo .searching input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px #fff;
  transition: box-shadow 0.3s ease-out;
  height: 40px;
  width: 510px;
  padding: 0 0 0 12px;
  outline: none;
  box-shadow: none;
}
#navdown .navdowninfo .searching button {
  position: absolute;
  overflow: visible;
  cursor: pointer;
  height: 40px;
  padding: 0 35px;
  color: #fff;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  background-color: #333;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: none;
  border: none;
}
#navdown .telcart {
  display: flex;
}
#navdown .telcart .tel {
  margin-top: 20px;
}
#navdown .telcart .tel i {
  font-size: 30px;
  color: white;
}
#navdown .telcart .telnumber {
  margin-top: 9px;
  margin-left: 10px;
}
#navdown .telcart .telnumber span {
  color: white;
  font-size: 12px;
  font-weight: 700;
}
#navdown .telcart .telnumber p {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
#navdown .telcart .minicart {
  margin-top: 25px;
  margin-left: 25px;
  position: relative;
}
#navdown .telcart .minicart i {
  color: white;
  font-size: 20px;
}
#navdown .telcart .minicart .num {
  color: white;
  font-size: 12px;
  font-weight: 500;
}
#navdown .telcart .minicart span {
  color: white;
  font-size: 15px;
  font-weight: 500;
}
#navdown .telcart .minicart .minicartcount {
  position: absolute;
  top: -15px;
  left: 15px;
}
#navdown .telcart .minicart .minicartcount span {
  background-color: #222222;
  color: white;
  padding: 0px;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
}

#navexp {
  height: 68px;
  background-color: #F5F5F5;
}
#navexp .nav-expend {
  height: 64px;
  background-color: #F5F5F5;
}
#navexp .nav-expend .navbar-light {
  background-color: #F5F5F5 !important;
}
#navexp .nav-expend .navbar-light .navbar-collapse {
  height: 50px;
}
#navexp .nav-expend .navbar-light .nav-item {
  font-size: 14px;
  text-transform: uppercase;
  color: #383838;
  font-size: 1em;
  font-weight: 700;
  padding: 0 25px;
  line-height: 63px;
}
#navexp .nav-expend .navbar-light .dropdown-menu a {
  font-size: 14px;
}
#navexp .nav-expend .navbar-light .dropdown-menu .dropdown-item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}

#checkoutpagebegin .checkoutpageleavehomepage {
  display: flex;
  justify-content: space-between;
  height: 58px;
  width: 100%;
}
#checkoutpagebegin .checkoutpageleavehomepage .checkout {
  margin-top: 26px;
  margin-left: 10px;
}
#checkoutpagebegin .checkoutpageleavehomepage .checkout h4 {
  font-size: 14px;
  color: #333333;
}
#checkoutpagebegin .checkoutpageleavehomepage .homecheckout {
  margin-top: 21px;
  margin-right: 10px;
}
#checkoutpagebegin .checkoutpageleavehomepage .homecheckout a {
  font-size: 14px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

#checkout {
  margin-top: 60px;
}
#checkout .billingdetails .please {
  display: none;
}
#checkout .billingdetails .first-lastname {
  display: flex;
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
#checkout .billingdetails .first-lastname body {
  background: url(https://scotch.io/wp-content/uploads/2014/07/61.jpg);
}
#checkout .billingdetails .first-lastname .container {
  font-family: "Roboto";
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #FFF;
  padding: 10px 50px 50px;
}
#checkout .billingdetails .first-lastname h2 {
  text-align: center;
  margin-bottom: 50px;
}
#checkout .billingdetails .first-lastname h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
#checkout .billingdetails .first-lastname .footer {
  text-align: center;
}
#checkout .billingdetails .first-lastname .footer a {
  color: #53B2C8;
}
#checkout .billingdetails .first-lastname .group {
  margin-top: 12px;
  position: relative;
  margin-bottom: 1px;
  width: 49%;
}
#checkout .billingdetails .first-lastname input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
#checkout .billingdetails .first-lastname input:focus {
  outline: none;
}
#checkout .billingdetails .first-lastname label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#checkout .billingdetails .first-lastname span {
  color: #f44336;
}
#checkout .billingdetails .first-lastname input:focus ~ label,
#checkout .billingdetails .first-lastname input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #f44336;
}
#checkout .billingdetails .first-lastname .bar {
  position: relative;
  display: block;
  width: 300px;
}
#checkout .billingdetails .first-lastname .bar:before,
#checkout .billingdetails .first-lastname .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #f44336;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#checkout .billingdetails .first-lastname .bar:before {
  left: 50%;
}
#checkout .billingdetails .first-lastname .bar:after {
  right: 50%;
}
#checkout .billingdetails .first-lastname input:focus ~ .bar:before,
#checkout .billingdetails .first-lastname input:focus ~ .bar:after {
  width: 50%;
}
#checkout .billingdetails .first-lastname .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
#checkout .billingdetails .first-lastname input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: #f44336;
  }
  to {
    width: 0;
    background: transparent;
  }
}
#checkout .billingdetails .companyname-address-city {
  width: 636px;
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
#checkout .billingdetails .companyname-address-city body {
  background: url(https://scotch.io/wp-content/uploads/2014/07/61.jpg);
}
#checkout .billingdetails .companyname-address-city .container {
  font-family: "Roboto";
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #FFF;
  padding: 10px 50px 50px;
}
#checkout .billingdetails .companyname-address-city h2 {
  text-align: center;
  margin-bottom: 50px;
}
#checkout .billingdetails .companyname-address-city h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
#checkout .billingdetails .companyname-address-city .footer {
  text-align: center;
}
#checkout .billingdetails .companyname-address-city .footer a {
  color: #53B2C8;
}
#checkout .billingdetails .companyname-address-city .group {
  margin-top: 12px;
  position: relative;
  margin-bottom: 1px;
  width: 100%;
}
#checkout .billingdetails .companyname-address-city input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 96%;
  border: none;
  border-bottom: 1px solid #757575;
}
#checkout .billingdetails .companyname-address-city input:focus {
  outline: none;
}
#checkout .billingdetails .companyname-address-city label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#checkout .billingdetails .companyname-address-city span {
  color: #f44336;
}
#checkout .billingdetails .companyname-address-city input:focus ~ label,
#checkout .billingdetails .companyname-address-city input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #f44336;
}
#checkout .billingdetails .companyname-address-city .bar {
  position: relative;
  display: block;
  width: 96%;
}
#checkout .billingdetails .companyname-address-city .bar:before,
#checkout .billingdetails .companyname-address-city .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #f44336;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#checkout .billingdetails .companyname-address-city .bar:before {
  left: 50%;
}
#checkout .billingdetails .companyname-address-city .bar:after {
  right: 50%;
}
#checkout .billingdetails .companyname-address-city input:focus ~ .bar:before,
#checkout .billingdetails .companyname-address-city input:focus ~ .bar:after {
  width: 50%;
}
#checkout .billingdetails .companyname-address-city .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
#checkout .billingdetails .companyname-address-city input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: #f44336;
  }
  to {
    width: 0;
    background: transparent;
  }
}
#checkout .billingdetails .state-postcode {
  display: flex;
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
#checkout .billingdetails .state-postcode body {
  background: url(https://scotch.io/wp-content/uploads/2014/07/61.jpg);
}
#checkout .billingdetails .state-postcode .container {
  font-family: "Roboto";
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #FFF;
  padding: 10px 50px 50px;
}
#checkout .billingdetails .state-postcode h2 {
  text-align: center;
  margin-bottom: 50px;
}
#checkout .billingdetails .state-postcode h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
#checkout .billingdetails .state-postcode .footer {
  text-align: center;
}
#checkout .billingdetails .state-postcode .footer a {
  color: #53B2C8;
}
#checkout .billingdetails .state-postcode .group {
  margin-top: 12px;
  position: relative;
  margin-bottom: 1px;
  width: 49%;
}
#checkout .billingdetails .state-postcode input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
#checkout .billingdetails .state-postcode input:focus {
  outline: none;
}
#checkout .billingdetails .state-postcode label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#checkout .billingdetails .state-postcode span {
  color: #f44336;
}
#checkout .billingdetails .state-postcode input:focus ~ label,
#checkout .billingdetails .state-postcode input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #f44336;
}
#checkout .billingdetails .state-postcode .bar {
  position: relative;
  display: block;
  width: 300px;
}
#checkout .billingdetails .state-postcode .bar:before,
#checkout .billingdetails .state-postcode .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #f44336;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#checkout .billingdetails .state-postcode .bar:before {
  left: 50%;
}
#checkout .billingdetails .state-postcode .bar:after {
  right: 50%;
}
#checkout .billingdetails .state-postcode input:focus ~ .bar:before,
#checkout .billingdetails .state-postcode input:focus ~ .bar:after {
  width: 50%;
}
#checkout .billingdetails .state-postcode .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
#checkout .billingdetails .state-postcode input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: #f44336;
  }
  to {
    width: 0;
    background: transparent;
  }
}
#checkout .billingdetails .email-phone {
  display: flex;
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
#checkout .billingdetails .email-phone body {
  background: url(https://scotch.io/wp-content/uploads/2014/07/61.jpg);
}
#checkout .billingdetails .email-phone .container {
  font-family: "Roboto";
  width: 600px;
  display: block;
  background: #FFF;
  padding: 10px 50px 50px;
}
#checkout .billingdetails .email-phone h2 {
  text-align: center;
  margin-bottom: 50px;
}
#checkout .billingdetails .email-phone h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
#checkout .billingdetails .email-phone .footer {
  text-align: center;
}
#checkout .billingdetails .email-phone .footer a {
  color: #53B2C8;
}
#checkout .billingdetails .email-phone .group {
  margin-top: 12px;
  position: relative;
  margin-bottom: 1px;
  width: 49%;
}
#checkout .billingdetails .email-phone input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
#checkout .billingdetails .email-phone input:focus {
  outline: none;
}
#checkout .billingdetails .email-phone label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#checkout .billingdetails .email-phone span {
  color: #f44336;
}
#checkout .billingdetails .email-phone input:focus ~ label,
#checkout .billingdetails .email-phone input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #f44336;
}
#checkout .billingdetails .email-phone .bar {
  position: relative;
  display: block;
  width: 300px;
}
#checkout .billingdetails .email-phone .bar:before,
#checkout .billingdetails .email-phone .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #f44336;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#checkout .billingdetails .email-phone .bar:before {
  left: 50%;
}
#checkout .billingdetails .email-phone .bar:after {
  right: 50%;
}
#checkout .billingdetails .email-phone input:focus ~ .bar:before,
#checkout .billingdetails .email-phone input:focus ~ .bar:after {
  width: 50%;
}
#checkout .billingdetails .email-phone .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
#checkout .billingdetails .email-phone input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: #f44336;
  }
  to {
    width: 0;
    background: transparent;
  }
}
#checkout .billingdetails .additionalinformation {
  margin-top: 15px;
}
#checkout .billingdetails .additionalinformation h2 {
  margin-bottom: 1px;
}
#checkout .billingdetails .additionalinformation .orderspan {
  display: block;
  font-size: 16px;
  color: #777777;
}
#checkout .billingdetails .additionalinformation .post {
  color: #ef6c00;
  display: block;
  margin-top: 10px;
}
#checkout .billingdetails .additionalinformation textarea {
  display: block;
  border: 3px solid #f44336;
  width: 96%;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  margin-bottom: 10px;
}
#checkout .billingdetails .additionalinformation button {
  width: 156.58px;
  height: 46px;
  background-color: #ef6c00;
  border: none;
  border-radius: 4px;
  margin-bottom: 30px;
}
#checkout .billingdetails .additionalinformation button span {
  width: 92.59px;
  height: 16.67px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}
#checkout .productsaleinfos {
  width: 635px;
  height: 520px;
  padding: 30px;
  border: 1px solid #d9d9d9;
}
#checkout .productsaleinfos .product-total {
  border: 1px solid #d9d9d9;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 25px;
  color: #444;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
#checkout .productsaleinfos .product-total h5 {
  font-size: 20px;
  color: #444444;
  display: inline-block;
}
#checkout .productsaleinfos .product-total span {
  float: right;
  width: 35%;
  font-size: 14px;
  line-height: 1.2em;
  color: #444444;
  font-weight: 500;
}
#checkout .productsaleinfos .productscart {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-left: 0px;
}
#checkout .productsaleinfos .subtotalprice {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-left: 0px;
}
#checkout .productsaleinfos .subtotalprice li {
  list-style: none;
}
#checkout .productsaleinfos .subtotalprice li h5 {
  font-size: 18px;
  color: #444444;
  display: inline-block;
  margin-right: 295px;
}
#checkout .productsaleinfos .subtotalprice li span {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: #f33927;
  font-weight: 500;
}
#checkout .productsaleinfos .totalprice {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-left: 0px;
}
#checkout .productsaleinfos .totalprice li {
  list-style: none;
}
#checkout .productsaleinfos .totalprice li h5 {
  font-size: 18px;
  color: #444444;
  display: inline-block;
  margin-right: 324px;
}
#checkout .productsaleinfos .totalprice li span {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: #f33927;
  font-weight: 500;
}
#checkout .productsaleinfos .input .directbank {
  position: relative;
}
#checkout .productsaleinfos .input .directbank input {
  accent-color: red;
  width: 20px;
  height: 20px;
}
#checkout .productsaleinfos .input .directbank span {
  font-size: 14px;
  position: absolute;
  color: #848484;
  left: 25px;
}
#checkout .productsaleinfos .input .paypal {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}
#checkout .productsaleinfos .input .paypal input {
  accent-color: red;
  width: 20px;
  height: 20px;
}
#checkout .productsaleinfos .input .paypal span {
  font-size: 14px;
  position: absolute;
  color: #848484;
  left: 25px;
}
#checkout .productsaleinfos button {
  width: 155px;
  height: 46px;
  background-color: #ef6c00;
  border: none;
  border-radius: 4px;
}
#checkout .productsaleinfos button span {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}

#footer {
  background-color: #F5F5F5;
  height: 350px;
}
#footer .logo-service {
  width: 689px;
  background-color: #F5F5F5;
  display: flex;
}
#footer .logo-service .logo-about {
  width: 388px;
  height: 225px;
  padding-left: 15px;
}
#footer .logo-service .logo-about a {
  text-decoration: none;
  color: #383838;
}
#footer .logo-service .logo-about p {
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .logo-service .services {
  width: 299px;
  margin-left: 25px;
}
#footer .logo-service .services h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .logo-service .services ul {
  padding: 0px;
}
#footer .logo-service .services ul li {
  list-style: none;
}
#footer .logo-service .services ul li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 32px;
  color: #333;
}
#footer .subscribe-address {
  width: 636px;
  display: flex;
  background-color: #F5F5F5;
}
#footer .subscribe-address .subscribe {
  width: 315px;
  padding-right: 15px;
}
#footer .subscribe-address .subscribe h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .subscribe-address .subscribe p {
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address .subscribe input {
  height: 45px;
  width: 280px;
  background: #fff;
  font-size: 15px;
  line-height: 45px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 0 65px 0 20px;
  color: #777;
}
#footer .subscribe-address .subscribe button {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  z-index: 222;
  background-color: #ef6c00;
  color: #fff;
  border-radius: 3px;
  line-height: 45px;
  width: 280px;
}
#footer .subscribe-address .addresscommunications {
  width: 315px;
}
#footer .subscribe-address .addresscommunications h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .subscribe-address .addresscommunications .address p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address .addresscommunications .telnumber p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address .addresscommunications .message p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address .addresscommunications .socials ul {
  display: flex;
  padding: 0px;
}
#footer .subscribe-address .addresscommunications .socials ul li {
  width: 33px;
  height: 33px;
  border: 1px solid #444;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  list-style: none;
}
#footer .subscribe-address .addresscommunications .socials ul li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 32px;
  color: #333;
}/*# sourceMappingURL=checkout.css.map */