#navup {
  background-color: #222222;
}
#navup .navbar-nav li .firsta {
  padding: 0px 16px !important;
  color: #c3c3c3;
  font-size: 14px !important;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
#navup .navbar-nav li .firsta :hover {
  color: gray;
}
#navup .navbarup {
  background-color: #222222 !important;
  height: 64px !important;
}
#navup .navbarup .dropdown-firstmenu li {
  width: 221px;
  height: 48px;
  padding: 10px 16px;
  border: 0.5px dashed rgb(245, 241, 241);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
#navup .navbarup .dropdown-firstmenu li span {
  background-color: #ef6c00;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 400;
}
#navup .navbarup .dropdown img {
  width: 18px;
  height: 14px;
}
#navup .navbarup .dropdown-secondmenu {
  margin-left: 30px !important;
}
#navup .navbarup .dropdown-secondmenu li {
  width: 221px;
  height: 48px;
  padding: 10px 16px;
  border: 0.5px dashed rgb(245, 241, 241);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
#navup .navbarup .dropdown-secondmenu li img {
  width: 18px;
  height: 14px;
}
#navup .navbarup .dropdown-secondmenu li span {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
#navup .navbarup .likelogin {
  margin-left: 700px;
  cursor: pointer;
}
#navup .navbarup .likelogin a {
  text-decoration: none;
  width: 100px;
  height: 50px;
}
#navup .navbarup .likelogin a :hover {
  color: gray;
}
#navup .navbarup .likelogin a i {
  color: #c3c3c3;
  font-size: 20px;
  margin-top: 1px;
  margin-left: 15px;
}
#navup .navbarup .likelogin a span {
  font-size: 13px;
  color: #c3c3c3;
  font-weight: 600;
  margin-left: 8px;
}

#navdown {
  background-color: #ef6c00;
  height: 90px;
  padding-top: 5px;
}
#navdown .navdowninfo {
  display: flex;
}
#navdown .navdowninfo img {
  margin-top: 20px;
  margin-left: 16px;
  width: 140px;
  height: 40px;
}
#navdown .navdowninfo .searching {
  margin-top: 20px;
  position: relative;
  margin-left: 100px;
}
#navdown .navdowninfo .searching input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px #fff;
  transition: box-shadow 0.3s ease-out;
  height: 40px;
  width: 510px;
  padding: 0 0 0 12px;
  outline: none;
  box-shadow: none;
}
#navdown .navdowninfo .searching button {
  position: absolute;
  overflow: visible;
  cursor: pointer;
  height: 40px;
  padding: 0 35px;
  color: #fff;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  background-color: #333;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: none;
  border: none;
}
#navdown .telcart {
  display: flex;
}
#navdown .telcart .tel {
  margin-top: 20px;
}
#navdown .telcart .tel i {
  font-size: 30px;
  color: white;
}
#navdown .telcart .telnumber {
  margin-top: 9px;
  margin-left: 10px;
}
#navdown .telcart .telnumber span {
  color: white;
  font-size: 12px;
  font-weight: 700;
}
#navdown .telcart .telnumber p {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
#navdown .telcart .minicart {
  margin-top: 25px;
  margin-left: 25px;
  position: relative;
}
#navdown .telcart .minicart i {
  color: white;
  font-size: 20px;
}
#navdown .telcart .minicart span {
  color: white;
  font-size: 15px;
  font-weight: 500;
}
#navdown .telcart .minicart .minicartcount {
  position: absolute;
  top: -15px;
  left: 15px;
}
#navdown .telcart .minicart .minicartcount span {
  background-color: #222222;
  color: white;
  padding: 0px;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
}

#servicesinfos {
  margin-top: 30px;
}
#servicesinfos .col-3 {
  padding: 0px;
}
#servicesinfos .bonusplus {
  display: flex;
  height: 133px;
  background-color: #FFF;
  justify-content: center;
  border: 1px solid #e3e3e3;
  border-left: none;
  border-right: none;
  cursor: text;
}
#servicesinfos .bonusplus .prise {
  margin-top: 37px;
  width: 14.4%;
  height: 94px;
  background-color: white;
}
#servicesinfos .bonusplus .prise i {
  color: #ef6c00 !important;
  font-size: 38px;
  margin-right: 10px;
  line-height: 65px;
  clear: both;
  width: auto;
  height: 100%;
  padding: 0 6px;
  cursor: text;
}
#servicesinfos .bonusplus .prise .truck {
  font-size: 36px;
  padding: 0px;
}
#servicesinfos .bonusplus .prise p {
  display: inline-block;
}
#servicesinfos .bonusplus .priseinfo {
  width: 77.8%;
  height: 100px;
  background-color: white;
  margin-top: 30px;
  line-height: 1.5;
  position: relative;
}
#servicesinfos .bonusplus .priseinfo p {
  font-weight: 700;
  font-size: 14.5px;
  position: absolute;
  top: 8%;
}
#servicesinfos .bonusplus .priseinfo span {
  font-weight: 600;
  font-size: 14.5px;
  color: #777;
  position: absolute;
  top: 29%;
}
#servicesinfos .bonusplus .borderline {
  width: 1px;
  border: 0.5px solid #e3e3e3;
  height: 105px;
  margin-top: 17px;
  margin-left: 15px;
  border-bottom: none;
  border-top: none;
  border-right: none;
}
#servicesinfos .firstbonusplus {
  border: 1px solid #e3e3e3;
  border-right: none;
}
#servicesinfos .lastbonusplus {
  border: 1px solid #e3e3e3;
  border-left: none;
}

#sliderswip body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
#sliderswip .swiper {
  width: 100%;
  height: 100%;
}
#sliderswip .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sliderswip .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: grab;
}
#sliderswip .swiper-slide h1 {
  position: absolute;
  top: 30%;
  left: 7%;
  cursor: pointer;
  font-size: 48px;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}
#sliderswip .swiper-slide h3 {
  position: absolute;
  top: 40%;
  left: 7%;
  font-weight: 400;
  color: #333;
  cursor: pointer;
  font-size: 36px;
  letter-spacing: 3px;
}
#sliderswip .swiper-slide button {
  position: absolute;
  top: 52%;
  left: 7%;
  background-color: #ef6c00;
  color: #fff;
  padding: 5px 33px;
  width: 200px;
  height: 45px;
  box-shadow: none !important;
  border: none;
  border-radius: 5px;
}
#sliderswip .swiper-slide button span {
  font-size: 14px;
  font-weight: 700;
}

#tabmenu *,
#tabmenu *::before,
#tabmenu *::after {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#tabmenu body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #252b46;
  background: #ffffff;
}
#tabmenu .container {
  max-width: 86rem;
  height: auto;
  margin: 0 auto;
  padding: 0 2rem;
}
#tabmenu .title {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  line-height: inherit;
  color: #252b46;
  text-transform: capitalize;
}
#tabmenu .paragraph {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  max-width: 100%;
  margin-top: 0.5rem;
  color: #9194a1;
}
#tabmenu .main .tab {
  width: 100%;
  height: auto;
  padding: 3rem 0;
}
#tabmenu .main .tab .tab-menu-link {
  width: 14.5% !important;
}
#tabmenu .main .tab-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-bottom: 1.3px solid #dbdbdb;
  transition: all 0.3s ease;
}
#tabmenu .main .tab-menu-link {
  position: relative;
  overflow: hidden;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  cursor: pointer;
  width: 25%;
  height: auto;
  padding: 1rem 0;
  border-bottom: 2.5px solid transparent;
  color: #9194a1;
  background: #ffffff;
  transition: all 0.3s ease;
}
#tabmenu .main .tab-menu-link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}
#tabmenu .main .tab-menu-link.is-active {
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
  border-bottom: 2.5px solid #fa5757;
  color: #252b46;
  background: #ffffff;
}
#tabmenu .main .tab-bar {
  padding: 2.5rem 0;
  overflow: hidden;
  background: #ffffff;
}
#tabmenu .main .tab-bar-content {
  display: none;
  width: 100%;
  min-height: 10rem;
  transition: all 0.3s ease;
}
#tabmenu .main .tab-bar-content.is-active {
  display: block;
}

#carouselcards {
  margin-bottom: 500px;
}
#carouselcards .container .swipers {
  margin-left: -460px !important;
}
#carouselcards .container .swiper-button-prev {
  background-color: #EF6C00;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#carouselcards .container .swiper-button-prev:after {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
#carouselcards .container .swiper-button-next {
  background-color: #EF6C00;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#carouselcards .container .swiper-button-next:after {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
#carouselcards .container .swiper {
  height: 400px;
  background: #fff;
}
#carouselcards .container .swiper .swiper-paginations span {
  display: none;
}
#carouselcards .container .swiper .swiper-wrapper {
  width: 245px;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide {
  width: 245px !important;
  height: 383px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard {
  position: relative;
  background-color: #fff;
  width: 245px;
  height: 380px;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .img {
  width: 245px;
  height: 180px;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .img a img {
  width: 180px;
  height: 180px;
  margin-left: 25px;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard a {
  text-decoration: none;
  position: absolute;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard a i {
  color: #333333;
  font-size: 24px;
  margin-top: 10px;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard :hover i {
  color: #ef6c00;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .heart {
  top: 21px;
  left: 200px;
  display: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .eyes {
  top: 56px;
  left: 199px;
  display: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .refresh {
  top: 91px;
  left: 202px;
  display: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart {
  height: 178px;
  width: 245px;
  position: relative;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart span {
  font-size: 14px;
  color: #A2A2A2;
  margin-left: 15px;
  border: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart h5 {
  margin-left: 15px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8705882353);
  border: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart i {
  color: #FFA726;
  font-size: 17px;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart .star {
  margin-left: 15px;
  border: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart .dollar {
  margin-left: 45px;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.8705882353);
  font-weight: 600;
  border: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart .cardproductprice {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.8705882353);
  font-weight: 600;
  margin-left: 0px;
  border: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart .add-card-button button {
  margin-top: 35px;
  width: 215.19px;
  height: 43px;
  background-color: #EF6C00;
  color: white;
  border: none;
  margin-left: 15px;
  padding: 0px 16px;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart .add-card-button button span {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 600;
  margin-left: 0px;
  border: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart .add-card-button button i {
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 10px;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart .add-card-button :hover {
  background-color: white;
  border: 3px solid #ef6c00;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart .add-card-button :hover span {
  color: #ef6c00;
  border: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide .carouselcard .addcart .add-card-button :hover i {
  color: #ef6c00;
  border: none;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide :hover .heart {
  display: block;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide :hover .eyes {
  display: block;
}
#carouselcards .container .swiper .swiper-wrapper .swiper-slide :hover .refresh {
  display: block;
}/*# sourceMappingURL=homepage.css.map */