#navup {

    background-color: #222222;

    // .container{
    //     width: 100% !important;
    // }

    .navbar-nav {

        & li .firsta {


            padding: 0px 16px !important;
            color: #c3c3c3;
            font-size: 14px !important;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            cursor: pointer;

            & :hover {
                color: gray;
            }



        }
    }

    .navbarup {
        background-color: #222222 !important;
        // background-color: aqua !important;
        height: 64px !important;

        .dropdown-firstmenu {


            & li {
                width: 221px;
                height: 48px;
                padding: 10px 16px;
                border: 0.5px dashed rgb(245, 241, 241);
                border-top: none;
                border-left: none;
                border-right: none;
                cursor: pointer;


                span {
                    background-color: #ef6c00;
                    font-size: 11px;
                    font-weight: 400;
                    color: #fff;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 3px;
                    padding-right: 3px;
                    font-weight: 400;

                }
            }
        }

        .dropdown {

            // margin-left: 30px;
            img {
                width: 18px;
                height: 14px;
            }
        }

        .dropdown-secondmenu {

            margin-left: 30px !important;

            li {

                width: 221px;
                height: 48px;
                padding: 10px 16px;
                border: 0.5px dashed rgb(245, 241, 241);
                border-top: none;
                border-left: none;
                border-right: none;
                cursor: pointer;


                img {

                    width: 18px;
                    height: 14px;
                }

                span {
                    margin-left: 5px;
                    color: #000000DE;
                    font-size: 14px;
                    font-family: 'Poppins', sans-serif;
                }

            }
        }

        .likelogin {

            margin-left: 700px;
            cursor: pointer;


            a {
                text-decoration: none;

                width: 100px;
                height: 50px;

                & :hover {
                    color: gray;
                }

                i {
                    color: #c3c3c3;
                    font-size: 20px;
                    margin-top: 1px;
                    margin-left: 15px;
                }

                span {

                    font-size: 13px;
                    color: #c3c3c3;
                    font-weight: 600;
                    margin-left: 8px;
                }

            }



        }

    }

}

#navdown {

    background-color: #ef6c00;
    height: 90px;
    padding-top: 5px;

    .navdowninfo {

        display: flex;

        img {
            margin-top: 20px;
            margin-left: 16px;
            width: 140px;
            height: 40px;
        }

        .searching {

            margin-top: 20px;
            position: relative;

            margin-left: 100px;

            input {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border: 1px #fff;
                transition: box-shadow .3s ease-out;
                height: 40px;
                width: 510px;
                padding: 0 0 0 12px;
                outline: none;
                box-shadow: none;
            }

            button {
                position: absolute;
                overflow: visible;
                cursor: pointer;
                height: 40px;
                padding: 0 35px;
                color: #fff;
                transition: all .25s ease-in-out;
                text-transform: uppercase;
                background-color: #333;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
                box-shadow: none;
                border: none;
            }
        }

    }

    .telcart {

        display: flex;


        .tel {

            margin-top: 20px;

            i {
                font-size: 30px;
                color: white;
            }

        }

        .telnumber {
            margin-top: 9px;
            margin-left: 10px;

            span {
                color: white;
                font-size: 12px;
                font-weight: 700;
            }

            p {
                color: white;
                font-size: 20px;
                font-weight: 600;
            }
        }

        .minicart {

            margin-top: 25px;
            margin-left: 25px;
            position: relative;
            //width: 38px;
            // height: 24px;

            i {
                color: white;
                font-size: 20px;
            }

            span {
                color: white;
                font-size: 15px;
                font-weight: 500;

            }

            .minicartcount {

                position: absolute;
                top: -15px;
                left: 15px;

                span {
                    background-color: #222222;
                    color: white;
                    padding: 0px;
                    border-radius: 15px;
                    padding-left: 6px;
                    padding-right: 6px;
                    padding-bottom: 1px;
                }
            }

        }

    }



}

#slider{
    $color_1: #FFF;
$color_2: #000;
$color_3: #fff;

#slideshow {
	margin: 0 auto;
	position: relative;
	width: 100%;
	padding: 1% 1% 56.25% 1%;
	border-radius: 20px;
	background: rgba(0,0,0,0.2);
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
	box-sizing: border-box;
	>div {
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		>img {
			width: 100%;
			height: 100%;
			border-radius: 20px;
		}
	}
	&:hover {
		i {
			opacity: 1;
		}
		.slider-dots {
			opacity: 1;
		}
	}
}
.slidebtn {
	z-index: 99;
	background: transparent;
	outline: none;
	border: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	&:active {
		outline: none;
	}
	i {
		color: $color_1;
		font-size: 72px;
		opacity: 0.2;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
}
.slidedtn {
	&:focus {
		outline: none;
	}
}
.prev {
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
}
.next {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
}
.slider-dots {
	opacity: 0.2;
	list-style: none;
	display: inline-block;
	padding-left: 0;
	margin-bottom: 0;
	position: absolute;
	left: 50%;
	bottom: 3%;
	transform: translate(-50%, 0);
	z-index: 99;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	li {
		color: $color_2;
		display: inline;
		font-size: 48px;
		margin-right: 5px;
		cursor: pointer;
	}
	li.active-dot {
		color: $color_3;
	}
}

}