#navup {
  background-color: #222222;
}
#navup .navbar-nav li .firsta {
  padding: 0px 16px !important;
  color: #c3c3c3;
  font-size: 14px !important;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
#navup .navbar-nav li .firsta :hover {
  color: gray;
}
#navup .navbarup {
  background-color: #222222 !important;
  height: 64px !important;
}
#navup .navbarup .dropdown-firstmenu li {
  width: 221px;
  height: 48px;
  padding: 10px 16px;
  border: 0.5px dashed rgb(245, 241, 241);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
#navup .navbarup .dropdown-firstmenu li span {
  background-color: #ef6c00;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 400;
}
#navup .navbarup .dropdown img {
  width: 18px;
  height: 14px;
}
#navup .navbarup .dropdown-secondmenu {
  margin-left: 30px !important;
}
#navup .navbarup .dropdown-secondmenu li {
  width: 221px;
  height: 48px;
  padding: 10px 16px;
  border: 0.5px dashed rgb(245, 241, 241);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
#navup .navbarup .dropdown-secondmenu li img {
  width: 18px;
  height: 14px;
}
#navup .navbarup .dropdown-secondmenu li span {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
#navup .navbarup .likelogin {
  margin-left: 700px;
  cursor: pointer;
}
#navup .navbarup .likelogin a {
  text-decoration: none;
  width: 100px;
  height: 50px;
}
#navup .navbarup .likelogin a :hover {
  color: gray;
}
#navup .navbarup .likelogin a i {
  color: #c3c3c3;
  font-size: 20px;
  margin-top: 1px;
  margin-left: 15px;
}
#navup .navbarup .likelogin a span {
  font-size: 13px;
  color: #c3c3c3;
  font-weight: 600;
  margin-left: 8px;
}

#navdown {
  background-color: #ef6c00;
  height: 90px;
  padding-top: 5px;
}
#navdown .navdowninfo {
  display: flex;
}
#navdown .navdowninfo img {
  margin-top: 20px;
  margin-left: 16px;
  width: 140px;
  height: 40px;
}
#navdown .navdowninfo .searching {
  margin-top: 20px;
  position: relative;
  margin-left: 100px;
}
#navdown .navdowninfo .searching input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px #fff;
  transition: box-shadow 0.3s ease-out;
  height: 40px;
  width: 510px;
  padding: 0 0 0 12px;
  outline: none;
  box-shadow: none;
}
#navdown .navdowninfo .searching button {
  position: absolute;
  overflow: visible;
  cursor: pointer;
  height: 40px;
  padding: 0 35px;
  color: #fff;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  background-color: #333;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: none;
  border: none;
}
#navdown .telcart {
  display: flex;
}
#navdown .telcart .tel {
  margin-top: 20px;
}
#navdown .telcart .tel i {
  font-size: 30px;
  color: white;
}
#navdown .telcart .telnumber {
  margin-top: 9px;
  margin-left: 10px;
}
#navdown .telcart .telnumber span {
  color: white;
  font-size: 12px;
  font-weight: 700;
}
#navdown .telcart .telnumber p {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
#navdown .telcart .minicart {
  margin-top: 25px;
  margin-left: 25px;
  position: relative;
}
#navdown .telcart .minicart i {
  color: white;
  font-size: 20px;
}
#navdown .telcart .minicart .num {
  color: white;
  font-size: 12px;
  font-weight: 500;
}
#navdown .telcart .minicart span {
  color: white;
  font-size: 15px;
  font-weight: 500;
}
#navdown .telcart .minicart .minicartcount {
  position: absolute;
  top: -15px;
  left: 15px;
}
#navdown .telcart .minicart .minicartcount span {
  background-color: #222222;
  color: white;
  padding: 0px;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
}

#navexp {
  height: 68px;
  background-color: #F5F5F5;
}
#navexp .nav-expend {
  height: 64px;
  background-color: #F5F5F5;
}
#navexp .nav-expend .navbar-light {
  background-color: #F5F5F5 !important;
}
#navexp .nav-expend .navbar-light .navbar-collapse {
  height: 50px;
}
#navexp .nav-expend .navbar-light .nav-item {
  font-size: 14px;
  text-transform: uppercase;
  color: #383838;
  font-size: 1em;
  font-weight: 700;
  padding: 0 25px;
  line-height: 63px;
}
#navexp .nav-expend .navbar-light .dropdown-menu a {
  font-size: 14px;
}
#navexp .nav-expend .navbar-light .dropdown-menu .dropdown-item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}

#aboutpagebegin .aboutpageleavehomepage {
  display: flex;
  justify-content: space-between;
  height: 58px;
  width: 100%;
}
#aboutpagebegin .aboutpageleavehomepage .aboutus {
  margin-top: 26px;
  margin-left: 10px;
}
#aboutpagebegin .aboutpageleavehomepage .aboutus h4 {
  font-size: 14px;
  color: #333333;
}
#aboutpagebegin .aboutpageleavehomepage .homeabout {
  margin-top: 21px;
  margin-right: 10px;
}
#aboutpagebegin .aboutpageleavehomepage .homeabout a {
  font-size: 14px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

#awesomequality {
  padding-top: 60px;
}
#awesomequality .qualityimg img {
  width: 509px;
  height: 590px;
}
#awesomequality .industry {
  width: 650px;
}
#awesomequality .industry .accordion-header {
  border: 1px solid #777;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#awesomequality .industry .accordion-header button {
  font-size: 17px;
  font-weight: 600;
}
#awesomequality .industry h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
#awesomequality .industry p {
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  font-size: 1rem;
}

#greatservice {
  margin-top: 70px;
  background-color: #F5F5F5;
  padding-top: 60px;
}
#greatservice .services {
  text-align: center;
  justify-content: center;
  margin-bottom: 35px;
}
#greatservice .services h2 {
  font-size: 36px;
  color: #383838;
  font-weight: 700;
}
#greatservice .services p {
  font-size: 16px;
  color: #777777;
}
#greatservice .purequality {
  background-color: white;
  width: 100%;
  padding-top: 41px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 26px;
  margin-bottom: 60px;
}
#greatservice .purequality i {
  font-size: 45px;
  color: #ef6c00;
  margin-bottom: 5px;
}
#greatservice .purequality h4 {
  font-size: 22px;
  color: #383838;
}
#greatservice .purequality p {
  color: #383838;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#greatservice .freeservice {
  background-color: white;
  width: 100%;
  padding-top: 41px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 26px;
  margin-bottom: 20px;
}
#greatservice .freeservice i {
  font-size: 45px;
  color: #ef6c00;
  margin-bottom: 5px;
}
#greatservice .freeservice h4 {
  font-size: 22px;
  color: #383838;
}
#greatservice .freeservice p {
  color: #383838;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#greatservice .homedelivery {
  background-color: white;
  width: 100%;
  padding-top: 41px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 26px;
  margin-bottom: 20px;
}
#greatservice .homedelivery i {
  font-size: 45px;
  color: #ef6c00;
  margin-bottom: 5px;
}
#greatservice .homedelivery h4 {
  font-size: 22px;
  color: #383838;
}
#greatservice .homedelivery p {
  color: #383838;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

#teams .title {
  text-align: center;
  margin-top: 50px;
}
#teams .title h2 {
  margin-bottom: 10px;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #383838;
  font-weight: 700;
}
#teams .title p {
  color: #777;
  font-weight: 500;
}
#teams .team-members {
  display: flex;
  margin-top: 40px;
}
#teams .team-members .single-team-member {
  width: 295px;
}
#teams .team-members .single-team-member:hover img {
  opacity: 0.5;
}
#teams .team-members .single-team-member:hover .social {
  transform: translateY(-65px);
}
#teams .team-members .single-team-member:hover .text {
  background-color: #444444;
}
#teams .team-members .single-team-member:hover .text h4 {
  color: white;
}
#teams .team-members .single-team-member:hover .text p {
  color: white;
}
#teams .team-members .single-team-member .img {
  height: 365px;
  overflow-y: hidden;
}
#teams .team-members .single-team-member .img img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
#teams .team-members .single-team-member .social {
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #4050b5;
  transition: all 0.4s;
}
#teams .team-members .single-team-member .social a i {
  color: white;
}
#teams .team-members .single-team-member .text {
  border: 1px solid #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.4s ease;
  text-align: center;
}
#teams .team-members .single-team-member .text h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
#teams .team-members .single-team-member .text p {
  margin: 0;
  color: #333;
}

#footer {
  background-color: #F5F5F5;
  height: 350px;
}
#footer .logo-service {
  width: 689px;
  background-color: #F5F5F5;
  display: flex;
}
#footer .logo-service .logo-about {
  width: 388px;
  height: 225px;
  padding-left: 15px;
}
#footer .logo-service .logo-about a {
  text-decoration: none;
  color: #383838;
}
#footer .logo-service .logo-about p {
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .logo-service .services {
  width: 299px;
  margin-left: 25px;
}
#footer .logo-service .services h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .logo-service .services ul {
  padding: 0px;
}
#footer .logo-service .services ul li {
  list-style: none;
}
#footer .logo-service .services ul li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 32px;
  color: #333;
}
#footer .subscribe-address {
  width: 636px;
  display: flex;
  background-color: #F5F5F5;
}
#footer .subscribe-address .subscribe {
  width: 315px;
  padding-right: 15px;
}
#footer .subscribe-address .subscribe h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .subscribe-address .subscribe p {
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address .subscribe input {
  height: 45px;
  width: 280px;
  background: #fff;
  font-size: 15px;
  line-height: 45px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 0 65px 0 20px;
  color: #777;
  outline: none !important;
}
#footer .subscribe-address .subscribe button {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  z-index: 222;
  background-color: #ef6c00;
  color: #fff;
  border-radius: 3px;
  line-height: 45px;
  width: 280px;
}
#footer .subscribe-address .addresscommunications {
  width: 315px;
}
#footer .subscribe-address .addresscommunications h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .subscribe-address .addresscommunications .address p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address .addresscommunications .telnumber p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address .addresscommunications .message p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address .addresscommunications .socials ul {
  display: flex;
  padding: 0px;
}
#footer .subscribe-address .addresscommunications .socials ul li {
  width: 33px;
  height: 33px;
  border: 1px solid #444;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  list-style: none;
}
#footer .subscribe-address .addresscommunications .socials ul li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 32px;
  color: #333;
}

.flag .divider {
  margin: 1px !important;
}
.flag .ui {
  background-color: #222222 !important;
  color: white;
}
.flag .ui .search {
  background-color: #222222 !important;
}
.flag .ui .search .selection .dropdown {
  background-color: #222222 !important;
}/*# sourceMappingURL=about.css.map */