#navup {

    background-color: #222222;


    .navbar-nav {

        & li .firsta {


            padding: 0px 16px !important;
            color: #c3c3c3;
            font-size: 14px !important;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            cursor: pointer;

            & :hover {
                color: gray;
            }



        }
    }

    .navbarup {

        background-color: #222222 !important;
        height: 64px !important;

        .dropdown-firstmenu {


            & li {
                width: 221px;
                height: 48px;
                padding: 10px 16px;
                border: 0.5px dashed rgb(245, 241, 241);
                border-top: none;
                border-left: none;
                border-right: none;
                cursor: pointer;


                span {
                    background-color: #ef6c00;
                    font-size: 11px;
                    font-weight: 400;
                    color: #fff;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 3px;
                    padding-right: 3px;
                    font-weight: 400;

                }
            }
        }

        .dropdown {

            img {
                width: 18px;
                height: 14px;
            }
        }

        .dropdown-secondmenu {

            margin-left: 30px !important;

            li {

                width: 221px;
                height: 48px;
                padding: 10px 16px;
                border: 0.5px dashed rgb(245, 241, 241);
                border-top: none;
                border-left: none;
                border-right: none;
                cursor: pointer;


                img {

                    width: 18px;
                    height: 14px;
                }

                span {
                    margin-left: 5px;
                    color: #000000DE;
                    font-size: 14px;
                    font-family: 'Poppins', sans-serif;
                }

            }
        }

        .likelogin {

            margin-left: 700px;
            cursor: pointer;


            a {
                text-decoration: none;

                width: 100px;
                height: 50px;

                & :hover {
                    color: gray;
                }

                i {
                    color: #c3c3c3;
                    font-size: 20px;
                    margin-top: 1px;
                    margin-left: 15px;
                }

                span {

                    font-size: 13px;
                    color: #c3c3c3;
                    font-weight: 600;
                    margin-left: 8px;
                }

            }



        }

    }

}

#navdown {

    background-color: #ef6c00;
    height: 90px;
    padding-top: 5px;


    .navdowninfo {

        display: flex;

        img {
            margin-top: 20px;
            margin-left: 16px;
            width: 140px;
            height: 40px;
        }

        .searching {

            margin-top: 20px;
            position: relative;

            margin-left: 100px;

            input {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border: 1px #fff;
                transition: box-shadow .3s ease-out;
                height: 40px;
                width: 510px;
                padding: 0 0 0 12px;
                outline: none;
                box-shadow: none;
            }

            button {
                position: absolute;
                overflow: visible;
                cursor: pointer;
                height: 40px;
                padding: 0 35px;
                color: #fff;
                transition: all .25s ease-in-out;
                text-transform: uppercase;
                background-color: #333;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
                box-shadow: none;
                border: none;
            }
        }

    }

    .telcart {

        display: flex;


        .tel {

            margin-top: 20px;

            i {
                font-size: 30px;
                color: white;
            }

        }

        .telnumber {
            margin-top: 9px;
            margin-left: 10px;

            span {
                color: white;
                font-size: 12px;
                font-weight: 700;
            }

            p {
                color: white;
                font-size: 20px;
                font-weight: 600;
            }
        }

        .minicart {

            margin-top: 25px;
            margin-left: 25px;
            position: relative;
            //width: 38px;
            // height: 24px;

            i {
                color: white;
                font-size: 20px;
            }


            .num {
                color: white;
                font-size: 12px;
                font-weight: 500;
            }


            span {
                color: white;
                font-size: 15px;
                font-weight: 500;

            }

            .minicartcount {

                position: absolute;
                top: -15px;
                left: 15px;

                span {
                    background-color: #222222;
                    color: white;
                    padding: 0px;
                    border-radius: 15px;
                    padding-left: 6px;
                    padding-right: 6px;
                    padding-bottom: 1px;
                }
            }

        }

    }

}

#navexp {



    height: 68px;
    background-color: #F5F5F5;

    .nav-expend {

        height: 64px;
        background-color: #F5F5F5;


        .navbar-light {

            background-color: #F5F5F5 !important;
            // padding-left: 20px;

            .navbar-collapse {

                height: 50px;


            }

            .nav-item {
                font-size: 14px;
                text-transform: uppercase;
                color: #383838;
                font-size: 1em;
                font-weight: 700;
                padding: 0 25px;
                line-height: 63px;
            }

            .dropdown-menu {

                a {
                    font-size: 14px;

                }

                .dropdown-item {
                    user-select: none;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    -webkit-tap-highlight-color: transparent;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    line-height: 48px;
                    height: 48px;
                    padding: 0 16px;
                    text-align: left;
                    text-decoration: none;
                    max-width: 100%;
                    position: relative;
                }
            }




        }
    }
}

#servicesinfos {

    margin-top: 30px;

    .col-3 {
        padding: 0px;
    }


    .bonusplus {

        display: flex;
        height: 133px;
        background-color: #FFF;
        justify-content: center;
        border: 1px solid #e3e3e3;
        border-left: none;
        border-right: none;
        cursor: text;
        // margin-bottom: 200px;
        // margin-top: 16px;


        .prise {
            margin-top: 37px;
            width: 14.4%;
            height: 94px;
            background-color: white;


            i {
                color: #ef6c00 !important;
                font-size: 38px;
                margin-right: 10px;
                line-height: 65px;
                clear: both;
                width: auto;
                height: 100%;
                padding: 0 6px;
                cursor: text;

            }

            .truck {
                font-size: 36px;
                padding: 0px;
            }

            p {
                display: inline-block;
            }
        }

        .priseinfo {
            width: 77.8%;
            height: 100px;
            background-color: white;
            margin-top: 30px;
            line-height: 1.5;
            position: relative;


            p {
                font-weight: 700;
                font-size: 14.5px;
                position: absolute;
                top: 8%;

            }


            span {
                font-weight: 600;
                font-size: 14.5px;
                color: #777;
                position: absolute;
                top: 29%;
            }
        }

        .borderline {
            width: 1px;
            border: 0.5px solid #e3e3e3;
            height: 105px;
            margin-top: 17px;
            margin-left: 15px;
            border-bottom: none;
            border-top: none;
            border-right: none;
        }

    }

    .firstbonusplus {
        border: 1px solid #e3e3e3;
        border-right: none;
    }

    .lastbonusplus {
        border: 1px solid #e3e3e3;
        border-left: none;
    }

}



#wishlistpagebegin {

    .wishlistpageleavehomepage {

        display: flex;
        justify-content: space-between;
        height: 58px;
        width: 100%;



        .wishlist {

            margin-top: 26px;
            margin-left: 10px;

            h4 {
                font-size: 14px;
                color: #333333;

            }
        }

        .homewishlist {


            margin-top: 21px;
            margin-right: 10px;

            a {

                font-size: 14px;
                text-decoration: none;
                color: #555;
                font-weight: 500;
            }
        }

    }
}


#wishlist {


    .tablewishlist {

        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


        thead {
            border: 2px solid black;
            border-top: none;
            border-right: none;
            border-left: none
        }

        .infowishlist {

            margin-left: 500px;
            width: 336px;
            height: 30px;
            border-radius: 50px;
            background-color: #f33927;
            color: white;
            border: none;
            margin-top: 40px;
            margin-bottom: 20px;
            padding-top: 3px;

            span {
                font-weight: 500;

            }

        }

        .getShopping {
            margin-left: 580px;
            margin-bottom: 200px;
            width: 182px;
            height: 46px;
            background-color: #ef6c00;
            border: none;
            color: white;
            border-radius: 4px;
            padding-left: 20px;

            padding-right: 20px;


            span {
                font-size: 14px;
                font-weight: 500;
            }
        }

        .continueShopping {

            margin-left: 50px;
            margin-bottom: 200px;
            width: 182px;
            height: 46px;
            background-color: #ef6c00;
            border: none;
            color: white;
            border-radius: 4px;
            padding-left: 20px;

            padding-right: 20px;


            span {
                font-size: 14px;
                font-weight: 500;
            }
        }

        .grand {
            margin-left: 665px;
            font-size: 14px;
            color: #000000DE;
            font-weight: 500;
        }

        .granddollar {
            font-weight: 500;
            margin-left: 5px;
            color: #000000DE;
        }

        .grandtotalprice {
            font-weight: 500;
            margin-left: 5px;
            color: #000000DE;
        }

        .procedCheckout {
            margin-left: 75px;
            margin-bottom: 200px;
            width: 182px;
            height: 46px;
            background-color: #ef6c00;
            border: none;
            color: white;
            border-radius: 4px;


            span {
                font-size: 14px;
                font-weight: 500;
            }


        }



        img {

            width: 100px;
            height: 100px;
            margin-left: 58px;

        }


        td {

            span {
                margin-left: 50px;
            }

            input {




                width: 80px;
                text-align: center;
                background-color: #eee;
                height: 35px;
                border: 1px solid #e5e5e5;


            }

        }

        tr {
            padding-left: 20px;

        }



        th {

            padding-left: 70px;
            width: 203px;
            padding-left: 88px;
            flex: 1;
            overflow: hidden;
            word-wrap: break-word;
            font-size: 14px;
            color: #0000008A;
            padding-top: 10px;
            padding-bottom: 20px;


        }

        .hr {
            color: black;
            width: 90%;
            height: 1px;
        }

        .price {
            font-size: 21px;
            font-weight: 500;
            margin-left: 78px;
            margin-top: 40px !important;
        }

        .zeros {
            font-size: 21px;
            font-weight: 500;
            padding: 0px;
            margin: 0px;
        }

        .tdname {
            padding-top: 39px;
            color: #000000DE;
            padding-left: 21px;

            span {
                color: #000000DE;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .tdprice {
            padding-top: 35px;
        }


        .clrth{

            padding-left: 65px;

            
            .clearAll {

                margin-left: 1px;
                width: 85px;
                height: 36px;
                background-color: red;
                border: none;
                border-radius: 4px;


                span{

                    color: white;
                    font-weight: 500;
                }
            }
        }
    }


    .tdaction {
        padding-top: 40px;

        i {

            margin-left: 92px;
            font-size: 18px;
        }
    }



   






}





#footer {

    background-color: #F5F5F5;
    height: 350px;


    .logo-service {

        width: 689px;
        background-color: #F5F5F5;
        display: flex;


        .logo-about {

            width: 388px;
            height: 225px;
            padding-left: 15px;



            a {
                text-decoration: none;
                color: #383838;

            }

            p {
                line-height: 24px;
                color: #333;
                font-weight: 400;

            }

        }

        .services {

            width: 299px;
            margin-left: 25px;

            h5 {
                // margin-left: 20px;
                color: #383838;
                line-height: 24px;
                font-size: 20px;
                font-weight: 600;

            }

            ul {

                padding: 0px;

                li {
                    list-style: none;

                    a {

                        text-decoration: none;
                        font-size: 15px;
                        line-height: 32px;
                        color: #333;
                    }
                }
            }


        }



    }


    .subscribe-address {

        width: 636px;
        display: flex;
        background-color: #F5F5F5;

        .subscribe {

            width: 315px;
            padding-right: 15px;


            h5 {


                color: #383838;
                line-height: 24px;
                font-size: 20px;
                font-weight: 600;
            }

            p {
                line-height: 24px;
                color: #333;
                font-weight: 400;

            }

            input {
                height: 45px;
                width: 280px;
                background: #fff;
                font-size: 15px;
                line-height: 45px;
                border: 1px solid #e2e2e2;
                border-radius: 4px;
                padding: 0 65px 0 20px;
                color: #777
            }

            button {
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                font-weight: 700;
                margin-top: 20px;
                padding: 0 10px;
                text-align: center;
                text-transform: uppercase;
                transition: all .4s ease 0s;
                z-index: 222;
                background-color: #ef6c00;
                color: #fff;
                border-radius: 3px;
                line-height: 45px;
                width: 280px;
            }

        }

        .addresscommunications {

            width: 315px;


            h5 {


                color: #383838;
                line-height: 24px;
                font-size: 20px;
                font-weight: 600;
            }

            .address {


                p {

                    display: inline-block;
                    line-height: 24px;
                    color: #333;
                    font-weight: 400;

                }
            }

            .telnumber {

                p {

                    display: inline-block;
                    line-height: 24px;
                    color: #333;
                    font-weight: 400;

                }

            }

            .message {


                p {

                    display: inline-block;
                    line-height: 24px;
                    color: #333;
                    font-weight: 400;

                }
            }


            .socials {


                ul {

                    display: flex;
                    padding: 0px;


                    li {


                        width: 33px;
                        height: 33px;
                        border: 1px solid #444;
                        border-radius: 50%;
                        text-align: center;
                        margin-right: 5px;
                        list-style: none;

                        a {


                            text-decoration: none;
                            font-size: 15px;
                            line-height: 32px;
                            color: #333;

                        }
                    }
                }
            }


        }
    }


}